<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <display-name>mission2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BookRegistrationServlet</servlet-name>
    <servlet-class>BookRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DemoServLet</servlet-name>
    <servlet-class>DemoServLet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServLet</servlet-name>
    <servlet-class>LoginServLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRegistrationServlet</servlet-name>
    <url-pattern>/BookRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DemoServLet</servlet-name>
    <url-pattern>/DemoServLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServLet</servlet-name>
    <url-pattern>/LoginServLet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminpage</display-name>
    <servlet-name>Adminpage</servlet-name>
    <servlet-class>Adminpage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminpage</servlet-name>
    <url-pattern>/Adminpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminpageServlet</display-name>
    <servlet-name>AdminpageServlet</servlet-name>
    <servlet-class>AdminpageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminpageServlet</servlet-name>
    <url-pattern>/AdminpageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminsServlet</display-name>
    <servlet-name>AdminsServlet</servlet-name>
    <servlet-class>AdminsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminsServlet</servlet-name>
    <url-pattern>/AdminsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusavailableServlet</display-name>
    <servlet-name>BusavailableServlet</servlet-name>
    <servlet-class>BusavailableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusavailableServlet</servlet-name>
    <url-pattern>/BusavailableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatServlet</display-name>
    <servlet-name>SeatServlet</servlet-name>
    <servlet-class>SeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatServlet</servlet-name>
    <url-pattern>/SeatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeatnumberServlet</display-name>
    <servlet-name>SeatnumberServlet</servlet-name>
    <servlet-class>SeatnumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeatnumberServlet</servlet-name>
    <url-pattern>/SeatnumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketshowServlet</display-name>
    <servlet-name>TicketshowServlet</servlet-name>
    <servlet-class>TicketshowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketshowServlet</servlet-name>
    <url-pattern>/TicketshowServlet</url-pattern>
  </servlet-mapping>
</web-app>